/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.v-data-table {
  background-color: #faf7f5 !important;
}

.scrollTo {
  margin: 0;
}
.v-container {
  width: 100%;
  margin: 0 !important;
}
.full-height {
  height: calc(100vh - 65px) !important;
}
.minimum-full-height {
  min-height: calc(100vh - 65px) !important;
}
.v-application {
  background-color: #faf7f5 !important;
  // background-size: contain;
}

.computer {
  background-image: url("/imgs/computer.png");
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.page-enter-active {
  animation: slide-in 700ms;
}
.page-leave-active {
  animation: slide-out 700ms;
}

@keyframes slide-in {
  from {
    // transform: translateY(10%);
    opacity: 0;
  }
  to {
    // transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-out {
  from {
    // transform: translateY(0px);
    opacity: 1;
  }
  to {
    // transform: translateY(-10%);
    opacity: 0;
  }
}

.overlay {
  background-color: rgba(71, 71, 71, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.background {
  background-image: url("/main.jpg");
}

.tree {
  background-image: url("/background3.jpg");
  height: 100%;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-position: center;
}
